.blog-details-title-light {
    color: #004526;
}

.blog-details-title-dark {
    color: #8FBC8B;

}

.blog-details-chat-link {
    font-size: 0.9rem; 
    float: right; 
}

.blog-details-edit {
    text-decoration: none;
    color: black;
}


.blog-details-edit:hover, .blog-details-chat-link:hover {
    color: gray;
    cursor: pointer;
}

 
.blog-details-date-dark, .blog-details-edit-dark, .blog-details-chat-link-dark {
    color: #A9A9A9;
}

.blog-body-dark {
    color: #A9A9A9;
}

.blog-body {
    font-size: 1.2em;
}

.scroll-to-top {
    color: #0d6efd
}

.scroll-to-top:hover {
    color: #0047AB;
    cursor: pointer;
}
